<a href="https://colab.research.google.com/github/19CSE187/PYTHONLAB/blob/main/PYTHONLAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Display simple interest and coumpound interest**

In [3]:
p = int(input("Enter the principal amount "))
r = int(input("Enter the rate of interest "))
t = int(input("Enter the time "))
si = (p*t*r)/100
print("Simple interest is",si)

Enter the principal amount 10000
Enter the rate of interest 10
Enter the time 12
Simple interest is 12000.0

# **WAP to input 1st name, mid name and last name into three variables and then apply concatination**

In [2]:
fst = input("Enter 1st name ")
mid = input("Enter mid name ")
lst = input("Enter last name ")
print("Your full name is",fst+" "+mid+" "+lst)

Enter 1st name abc
Enter mid name get
Enter last name jhi
Your full name is abc get jhi

# **WAP to create a table and display the elements of it**

In [12]:
tu = ("1", "2", "3", "4")
print(tu)

('1', '2', '3', '4')

# **WAP to implement type conversion on different datatype**

In [8]:
n = input("Enter a number ")
s = input("Enter a string ")
print(str(n)+" its multiplication with 5 is ",int(n)*5)
print("2x of String is",s*2)

Enter a number 4
Enter a string d
4 its multiplication with 5 is  20
2x of String is dd

# **Find the distance of 2 points using pythogorean theorem. Where the coordinates of two points given input**

In [11]:
import math
x1 = int(input("Enter x1 coordinate "))
y1 = int(input("Enter y1 coordinate "))
x2 = int(input("Enter x2 coordinate "))
y2 = int(input("Enter y2 coordinate "))
d = math.sqrt((x2-x1)**2 + (y2-y1)**2)
print("Distance is",d)

Enter x1 coordinate4
Enter y1 coordinate5
Enter x2 coordinate6
Enter y2 coordinate7
Distance is 2.8284271247461903